@font-face {
  font-family: recoleta;
  src: url(../tipografias/recoleta/Recoleta-RegularDEMO.otf);
}
@font-face {
  font-family: lasans;
  src: url(../tipografias/tt_chocolates/TT\ Chocolates\ Trial\ Light.otf);
}
@font-face {
  font-family: fanlste;
  src: url(../tipografias/fanlste.otf);
  /*usar con esto: https://www.dafont.com/es/fanlste.charmap?back=theme*/
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #f4f4f4;
  font-family: lasans;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-image: linear-gradient(to right, #cadbc6, #53865e);
  top: 0;
  z-index: 10;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;

  img {
    background: none;
    width: 100%;
  }

  #logo{
    background: none;
    width: 22%;
  }

  nav{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0);

    a{
      align-items: center;
      color: #184b2c;
      transition: transform 0.3s ease;
      background-color: rgba(0, 0, 0, 0);
      font-size: 1.2em;
      font-weight: bolder;
    }
  
    a:hover{
      transform: scale(1.1);
      color: #B4E7AA;
    }
  }

  /*span{
        transition: transform 0.2s ease;
    
        a{
            color: black;
        }
    }
    span:hover{
        transform: scale(1.2);
    }*/

  /*#boton{
        display: flex;
        cursor: pointer;
        transition: transform 0.3s ease;
        border-radius: 18px;

        a{
            color: white;
            background-color: green;
            padding: 0.5em;
            border-radius: 18px;
        }
    }
    #boton:hover{
        transform: scale(1.1); 
    }

    #iconos{
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #669966;

        span{
            background-color: #669966;
        }

        a:hover{
            color: #b4169c;
        }
    }*/
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 9%;

  h1{
    width: 100%;
    font-family: fanlste;
    font-size: 4em;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0);
    color: #184b2c;
  }

  p{
    font-size: 1.4em;
    color: #184b2c;
    margin-top: 1.5em;
  }

  .boton{
    display: inline-block;
    margin-top: 3.2em;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0);

    a{
      font-family: fanlste;
      font-size: 1.3em;
      color: white;
      background-color: #669966;
      padding: 0.8em;
      border-radius: 28px;
    }
  }

  .boton:hover{
    transform: scale(1.1);

    a{
      background-color: #2c6e2c;
    }
  }



  #titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
  }

  #dosImag{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 2.5em;

    img{
      width: 40%;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0);
    }

    figure{
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0);

      img{
          width: 100%;
          border-radius: 15px;
          background-color: rgba(0, 0, 0, 0);
          margin-bottom: 1em;
      }

      figcaption{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);

        p{
          background-color: rgba(0, 0, 0, 0);
          text-align: center;
        }
      }
    }
  }

  #principal{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    /*background-color: #d9f0d5;*/
    background-color: rgba(0, 0, 0, 0);

    #texto{
      width: 100%;
      text-align: center;
      margin-bottom: 2em;
      /*background-color: #d9f0d5;*/
      background-color: rgba(0, 0, 0, 0);
    }

    figure{
      position: relative;
      overflow: hidden;
      width: 75%;
      margin-top: 2em;

      img{
        display: none;
        width: 100%;
        height: auto;
        border-radius: 15px;
      }

      img.active {
        display: block;
      }

      .carousel-controls {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        transform: translateY(-50%);
      }

      .carousel-button {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }

  #misteryPB{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    margin-bottom: 8em;

    #texto2{
      text-align: right;
      padding-right: 4em;
    }

    img{
      width: 35%;
      border-radius: 15px;
    }
  }
}

footer {
  width: 100%;
  background-color: #53865e;
  color: white;
  padding: 2em 1em;
  font-family: lasans;
  text-align: center;

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 1em;
    background-color: #53865E;
  }

  .footer-section {
    flex: 1 1 250px;
    background-color: #53865E;
  }

  .footer-section p {
    background-color: #53865E;
  }

  .footer-section h3 {
    font-size: 1.5em;
    color: #B4E7AA;
    background-color: #53865E;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-family: fanlste;
  }

  .footer-section ul, li {
    list-style: none;
    padding: 0;
    background-color: #53865E;
  }

  .footer-section a {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    text-decoration: none; 
    transition: transform 0.3s ease;
    
  }

  .footer-section a:hover {
    color: #B4E7AA;
    transform: scale(1.2);
  }

  .footer-bottom p {
    font-size: 1em;
    background-color: #53865E;
  }

  .redes-sociales {
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: #53865E;
  }

  .redes-sociales a:hover {
    transform: scale(1.2);
  }
}

