@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

*{
    margin: 0.2em;
    padding: 0;
    text-decoration: none;
    background-color: #F4F4F4;
    font-family: 'Bahnschrift Ligth', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*position: fixed;
    margin-top: -0.4em;
    */

  

    #logo{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        padding: 30px;
        border-radius: 15px;
        overflow: hidden;

        img{
            width: 100%;
            border-radius: 10px;
            box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
            transition: transform 0.5s ease, box-shadow 0.5s ease;
        }
        /*
        img:hover{
            transform: scale(1.1) rotate(180deg) translateY(-5px);
            box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.8);
        }*/


       
    }

    
    #logo.animacion{
        animation: shake 0.5s ease-in-out;
    }
    

    /*
    #logo:hover{
        transform: rotate(180deg) translateX(-100px);
    }
    */
    #barraOpciones{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        div {
            margin-right: 2em;
        }
        }
    

    nav{
        width: 60%;
        margin-left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            margin: 1em;
            align-items: center;
            color: #115F90;
            transition: transform 0.3s ease;
            font-weight: 600;
            font-size: larger;
        }

        a:hover{
            transform: scale(1.2); 
        }
    }

    span{
        transition: transform 0.3s ease;

        a{
            color: black;
        }
    }

    span:hover{
        transform: scale(1.2);
    }

    #boton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2em;
        cursor: pointer;
        transition: transform 0.3s ease;
        border-radius: 18px;

        a{
            color: white;
            background-color: #115F90;
            padding: 0.5em;
            padding-right: 1em;
            padding-left: 1em;
            border-radius: 10px;
        }
    }

    #boton:hover{
        transform: scale(1.2); 
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedor {
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;

    form{
        width: 20%;
        padding: 1em;
        border-radius: 15px;
    }
}


.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 1rem;
    color: #333;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    font-size: 0.9rem;
    color: #333;
    display: block;
    margin-bottom: 0.3rem;
}

.input-group input {
    width: 87.5%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #6f86d6;
    box-shadow: 0 0 8px rgba(111, 134, 214, 0.3);
}

.login-btn {
    width: 97.5%;
    padding: 0.8rem;
    background-color: #6f86d6;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    /*transition: background 0.3s ease;*/
}

.login-btn:hover {
    background-color: #5770c2;
}

.signup-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.signup-text a {
    color: #6f86d6;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;

}

#Image-Text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
    width: 80%;


    #texto{
        width: 50%;

        p{
            font-size: 1.25em;
            margin-bottom: 1em;
        }

        #botonTexto{

            div{
                display: flex;

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    color: white;
                    background-color: #115F90;
                    padding: 0.5em;
                    border-radius: 10px;
                    transition: transform 0.3s ease;
    
                }
            }
        }
        
        a:hover{
            transform: scale(1.2); 
        }
        
    }

    #imagen{
        width: 30%;

        img{
            width: 100%;
            height: auto;
        }
    }
}

#misionvisionvalores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #SobreNosotros{
        width: 80%;
        margin-bottom: 3em;
        border: none;

        h2{
            width: 100%;
            margin-bottom: 1em;
            margin-top: 2em;
        }
        p{
            width: 100%;
        }
    }
    
    #cajas{
        width: 60%;
        display: flex;
        justify-content: space-between;

        div{
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            border: solid;
            border-radius: 20px;
            padding: 0.5em;
            margin: 1em;
            justify-content: center;
            transition: transform 0.3s ease;
            cursor: default;

            p{
                text-align: center;
            }
        }

        div:hover{
            transform: scale(1.2); 
        }
    }

    

    /*div{
        width: 20%;
        border: solid;
        border-radius: 20px;
        padding: 0.5em;
        margin: 1em;
        h3{
            width: 90%;
        }

        p{
            width: 90%;
        }
    }*/
}

